# Week 4 Honors Assignment

### A note to the reviewer: 
As the comments inside the cells are inconsistent with the text in the assignment page, I decided to solve the questions within the comments first and then add more cells for the instructions from the assignment page.

In [2]:
# Import the required packages
using Distributions, DataFrames, Random

In [3]:
# Seed the random number generator
Random.seed!(1234);

In [4]:
# Question 4: Create the 3 x 30 array named array_1
array_1 = rand(0:100,30,3)

30×3 Array{Int64,2}:
 23  65   5
 75  57  47
 86   9  49
 92  17  96
 83  53  55
  2   8  56
 79  77  25
 73  91  16
 67  91  35
 53  29  80
 98   7   5
 83  70  89
 24   0  58
  ⋮
  1  71  39
 29  20  32
 18  42  13
 70  41  73
 69  42  18
 23  52  19
 81  78  21
 46  36   0
 36  51  98
 36  74  86
 53  25   0
 49  54   2

In [5]:
# Question 5: Mean and variance of column 1
println("Mean: $(mean(array_1[:,1])), Variance: $(var(array_1[:,1]))")

Mean: 53.7, Variance: 794.9758620689657

In [6]:
# Question 5 (continued): Mean and variance of column 2
println("Mean: $(mean(array_1[:,2])), Variance: $(var(array_1[:,2]))")

Mean: 46.266666666666666, Variance: 704.4091954022988

In [7]:
# Question 5 (continued): Mean and variance of column 3
println("Mean: $(mean(array_1[:,3])), Variance: $(var(array_1[:,3]))")

Mean: 43.56666666666667, Variance: 982.2540229885058

In [8]:
# Question 6: Import array_1 into a DataFrame named df
df = convert(DataFrame, array_1)

30×3 DataFrame
│ Row │ x1    │ x2    │ x3    │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 23    │ 65    │ 5     │
│ 2   │ 75    │ 57    │ 47    │
│ 3   │ 86    │ 9     │ 49    │
│ 4   │ 92    │ 17    │ 96    │
│ 5   │ 83    │ 53    │ 55    │
│ 6   │ 2     │ 8     │ 56    │
│ 7   │ 79    │ 77    │ 25    │
│ 8   │ 73    │ 91    │ 16    │
│ 9   │ 67    │ 91    │ 35    │
│ 10  │ 53    │ 29    │ 80    │
⋮
│ 20  │ 29    │ 20    │ 32    │
│ 21  │ 18    │ 42    │ 13    │
│ 22  │ 70    │ 41    │ 73    │
│ 23  │ 69    │ 42    │ 18    │
│ 24  │ 23    │ 52    │ 19    │
│ 25  │ 81    │ 78    │ 21    │
│ 26  │ 46    │ 36    │ 0     │
│ 27  │ 36    │ 51    │ 98    │
│ 28  │ 36    │ 74    │ 86    │
│ 29  │ 53    │ 25    │ 0     │
│ 30  │ 49    │ 54    │ 2     │

In [9]:
# Question 7: Change the names of the columns to Var1, Var2, and Var3
names!(df, Symbol.(["Var1", "Var2", "Var3"]))

30×3 DataFrame
│ Row │ Var1  │ Var2  │ Var3  │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 23    │ 65    │ 5     │
│ 2   │ 75    │ 57    │ 47    │
│ 3   │ 86    │ 9     │ 49    │
│ 4   │ 92    │ 17    │ 96    │
│ 5   │ 83    │ 53    │ 55    │
│ 6   │ 2     │ 8     │ 56    │
│ 7   │ 79    │ 77    │ 25    │
│ 8   │ 73    │ 91    │ 16    │
│ 9   │ 67    │ 91    │ 35    │
│ 10  │ 53    │ 29    │ 80    │
⋮
│ 20  │ 29    │ 20    │ 32    │
│ 21  │ 18    │ 42    │ 13    │
│ 22  │ 70    │ 41    │ 73    │
│ 23  │ 69    │ 42    │ 18    │
│ 24  │ 23    │ 52    │ 19    │
│ 25  │ 81    │ 78    │ 21    │
│ 26  │ 46    │ 36    │ 0     │
│ 27  │ 36    │ 51    │ 98    │
│ 28  │ 36    │ 74    │ 86    │
│ 29  │ 53    │ 25    │ 0     │
│ 30  │ 49    │ 54    │ 2     │

In [10]:
# Question 8: Create and new DataFrame named df2 from the last 20 rows of df
df2 = df[end-19:end,:]

20×3 DataFrame
│ Row │ Var1  │ Var2  │ Var3  │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 98    │ 7     │ 5     │
│ 2   │ 83    │ 70    │ 89    │
│ 3   │ 24    │ 0     │ 58    │
│ 4   │ 50    │ 15    │ 76    │
│ 5   │ 71    │ 34    │ 34    │
│ 6   │ 32    │ 75    │ 82    │
│ 7   │ 20    │ 31    │ 27    │
│ 8   │ 89    │ 73    │ 71    │
│ 9   │ 1     │ 71    │ 39    │
│ 10  │ 29    │ 20    │ 32    │
│ 11  │ 18    │ 42    │ 13    │
│ 12  │ 70    │ 41    │ 73    │
│ 13  │ 69    │ 42    │ 18    │
│ 14  │ 23    │ 52    │ 19    │
│ 15  │ 81    │ 78    │ 21    │
│ 16  │ 46    │ 36    │ 0     │
│ 17  │ 36    │ 51    │ 98    │
│ 18  │ 36    │ 74    │ 86    │
│ 19  │ 53    │ 25    │ 0     │
│ 20  │ 49    │ 54    │ 2     │

In [11]:
# Question 9: Calculate simple descriptive statistics of all the columns in df2 using the describe() function
describe(df2)

3×8 DataFrame. Omitted printing of 1 columns
│ Row │ variable │ mean    │ min   │ median  │ max   │ nunique │ nmissing │
│     │ Symbol   │ Float64 │ Int64 │ Float64 │ Int64 │ Nothing │ Nothing  │
├─────┼──────────┼─────────┼───────┼─────────┼───────┼─────────┼──────────┤
│ 1   │ Var1     │ 48.9    │ 1     │ 47.5    │ 98    │         │          │
│ 2   │ Var2     │ 44.55   │ 0     │ 42.0    │ 78    │         │          │
│ 3   │ Var3     │ 42.15   │ 0     │ 33.0    │ 98    │         │          │

In [12]:
# Question 10: Add a column to df2 named Cat1 to df2 consisting of randomly selecting either the strings GroupA or GroupB
df2[:Cat1] = rand(["GroupA", "GroupB"], 20)

┌ Warning: `setindex!(df::DataFrame, v::AbstractVector, col_ind::ColumnIndex)` is deprecated, use `begin
│     df[!, col_ind] = v
│     df
│ end` instead.
│   caller = top-level scope at In[12]:1
└ @ Core In[12]:1

20-element Array{String,1}:
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupA"
 "GroupB"
 "GroupB"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupB"
 "GroupB"
 "GroupA"
 "GroupB"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupA"
 "GroupB"

In [13]:
df2

20×4 DataFrame
│ Row │ Var1  │ Var2  │ Var3  │ Cat1   │
│     │ Int64 │ Int64 │ Int64 │ String │
├─────┼───────┼───────┼───────┼────────┤
│ 1   │ 98    │ 7     │ 5     │ GroupA │
│ 2   │ 83    │ 70    │ 89    │ GroupB │
│ 3   │ 24    │ 0     │ 58    │ GroupA │
│ 4   │ 50    │ 15    │ 76    │ GroupB │
│ 5   │ 71    │ 34    │ 34    │ GroupA │
│ 6   │ 32    │ 75    │ 82    │ GroupA │
│ 7   │ 20    │ 31    │ 27    │ GroupB │
│ 8   │ 89    │ 73    │ 71    │ GroupB │
│ 9   │ 1     │ 71    │ 39    │ GroupA │
│ 10  │ 29    │ 20    │ 32    │ GroupA │
│ 11  │ 18    │ 42    │ 13    │ GroupA │
│ 12  │ 70    │ 41    │ 73    │ GroupB │
│ 13  │ 69    │ 42    │ 18    │ GroupB │
│ 14  │ 23    │ 52    │ 19    │ GroupA │
│ 15  │ 81    │ 78    │ 21    │ GroupB │
│ 16  │ 46    │ 36    │ 0     │ GroupA │
│ 17  │ 36    │ 51    │ 98    │ GroupA │
│ 18  │ 36    │ 74    │ 86    │ GroupA │
│ 19  │ 53    │ 25    │ 0     │ GroupA │
│ 20  │ 49    │ 54    │ 2     │ GroupB │

In [14]:
# Question 11: Create a new DataFrame named df3
df3 = DataFrame()

0×0 DataFrame

In [15]:
# Question 12: Change indicated values to empty entries
#unclear

In [16]:
# Question 13: Create DataFrame df4 that contains no rows with NaN (NA) values
#unclear!

# Start of code as per the assignment instructions

In [24]:
#In a code cell below, create a dataframe named df1, with 30 rows and 4 columns (variables).
#Call the first column ID. It should hold the values 1 through 30 (to make up 30 rows). 
#Use three rand() function calls to generate three more columns named var1, var2, and var3. 
#The second column (var1) should consist of 30 values from a standard normal distribution (mean of 0 and standard deviation of 1). 
#The third column (var2) should consist of 30 random value from a normal distribution with a mean of 10 and a standard deviation of 2. 
#The last column (var3) should contain 30 random values chosen from a range of integers between (and including) 5 and 15.

n = Distributions.Normal
df1 = DataFrame(id = collect(1:30), var1 = rand(n(),30), var2 = rand(n(10,2),30), var3 = rand(5:15, 30))

30×4 DataFrame
│ Row │ id    │ var1      │ var2    │ var3  │
│     │ Int64 │ Float64   │ Float64 │ Int64 │
├─────┼───────┼───────────┼─────────┼───────┤
│ 1   │ 1     │ -1.86009  │ 9.19165 │ 13    │
│ 2   │ 2     │ 0.620464  │ 11.4841 │ 13    │
│ 3   │ 3     │ -1.34798  │ 9.86681 │ 11    │
│ 4   │ 4     │ 0.380092  │ 10.3664 │ 9     │
│ 5   │ 5     │ -1.17812  │ 11.9502 │ 13    │
│ 6   │ 6     │ 0.73909   │ 9.63023 │ 10    │
│ 7   │ 7     │ 0.545716  │ 11.6234 │ 15    │
│ 8   │ 8     │ -0.322707 │ 11.7713 │ 5     │
│ 9   │ 9     │ 0.389462  │ 10.8972 │ 10    │
│ 10  │ 10    │ 1.97344   │ 12.0216 │ 6     │
⋮
│ 20  │ 20    │ -0.119859 │ 7.44903 │ 9     │
│ 21  │ 21    │ 0.250064  │ 10.5556 │ 11    │
│ 22  │ 22    │ 0.860593  │ 5.16572 │ 11    │
│ 23  │ 23    │ -0.714061 │ 9.73093 │ 13    │
│ 24  │ 24    │ 0.360856  │ 10.1584 │ 14    │
│ 25  │ 25    │ -1.1243   │ 10.2683 │ 12    │
│ 26  │ 26    │ 0.0415299 │ 8.59164 │ 13    │
│ 27  │ 27    │ -0.496601 │ 9.40441 │ 9     │
│ 28  │ 28    │ 1.54361   │ 7.1512  │ 7     │
│ 29  │ 29    │ 0.653686  │ 8.15625 │ 11    │
│ 30  │ 30    │ -0.416119 │ 10.9082 │ 10    │

In [25]:
# In code cells below, write the code to calculate the mean and variance of each column in the dataframe. 
# For example for the first variable this could be done using the println function and referring to each column (variable) by its symbol notation. 
# Try to shorten the code with a for-loop, iterating over the variables names (in symbol format).
for n in names(df1)
    println("for col $(n) μ is $(mean(df1[n])), and σ² is $(var(df1[n]))")
end

for col id μ is 15.5, and σ² is 77.5
for col var1 μ is -0.12104966086319444, and σ² is 0.8666467395338444
for col var2 μ is 9.947667794369552, and σ² is 2.847259144787765
for col var3 μ is 10.233333333333333, and σ² is 7.633333333333333

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[25]:5
└ @ Core .\In[25]:5
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[25]:5
└ @ Core .\In[25]:5

In [26]:
#In a code cells below, create a new DataFrame named df2 from the last 20 rows of the original DataFrame, df1.
df2 = df1[end-19:end,:]

20×4 DataFrame
│ Row │ id    │ var1      │ var2    │ var3  │
│     │ Int64 │ Float64   │ Float64 │ Int64 │
├─────┼───────┼───────────┼─────────┼───────┤
│ 1   │ 11    │ -1.17801  │ 8.96203 │ 8     │
│ 2   │ 12    │ 0.377104  │ 8.5063  │ 14    │
│ 3   │ 13    │ 0.28965   │ 13.3826 │ 5     │
│ 4   │ 14    │ 0.439391  │ 10.742  │ 10    │
│ 5   │ 15    │ 0.166789  │ 10.127  │ 11    │
│ 6   │ 16    │ -0.608117 │ 8.84621 │ 9     │
│ 7   │ 17    │ -1.57543  │ 9.73089 │ 7     │
│ 8   │ 18    │ -1.31724  │ 9.97798 │ 12    │
│ 9   │ 19    │ -1.0044   │ 11.8124 │ 6     │
│ 10  │ 20    │ -0.119859 │ 7.44903 │ 9     │
│ 11  │ 21    │ 0.250064  │ 10.5556 │ 11    │
│ 12  │ 22    │ 0.860593  │ 5.16572 │ 11    │
│ 13  │ 23    │ -0.714061 │ 9.73093 │ 13    │
│ 14  │ 24    │ 0.360856  │ 10.1584 │ 14    │
│ 15  │ 25    │ -1.1243   │ 10.2683 │ 12    │
│ 16  │ 26    │ 0.0415299 │ 8.59164 │ 13    │
│ 17  │ 27    │ -0.496601 │ 9.40441 │ 9     │
│ 18  │ 28    │ 1.54361   │ 7.1512  │ 7     │
│ 19  │ 29    │ 0.653686  │ 8.15625 │ 11    │
│ 20  │ 30    │ -0.416119 │ 10.9082 │ 10    │

In [27]:
#In a code cells below, show the results of computing simple descriptive statistics on this new DataFrame using the describe() function.
describe(df2)

4×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean      │ min      │ median     │ max     │ nunique │
│     │ Symbol   │ Float64   │ Real     │ Float64    │ Real    │ Nothing │
├─────┼──────────┼───────────┼──────────┼────────────┼─────────┼─────────┤
│ 1   │ id       │ 20.5      │ 11       │ 20.5       │ 30      │         │
│ 2   │ var1     │ -0.178543 │ -1.57543 │ -0.0391646 │ 1.54361 │         │
│ 3   │ var2     │ 9.48136   │ 5.16572  │ 9.73091    │ 13.3826 │         │
│ 4   │ var3     │ 10.1      │ 5        │ 10.5       │ 14      │         │

In [28]:
#In a code cells below, add a column named cat1 to the df2 DataFrame consisting of a random selection of 20 values from the sample space GroupA and GroupB.
df2[:cat1] = rand(["GroupA", "GroupB"], 20)
df2

┌ Warning: `setindex!(df::DataFrame, v::AbstractVector, col_ind::ColumnIndex)` is deprecated, use `begin
│     df[!, col_ind] = v
│     df
│ end` instead.
│   caller = top-level scope at In[28]:1
└ @ Core In[28]:1

20×5 DataFrame
│ Row │ id    │ var1      │ var2    │ var3  │ cat1   │
│     │ Int64 │ Float64   │ Float64 │ Int64 │ String │
├─────┼───────┼───────────┼─────────┼───────┼────────┤
│ 1   │ 11    │ -1.17801  │ 8.96203 │ 8     │ GroupA │
│ 2   │ 12    │ 0.377104  │ 8.5063  │ 14    │ GroupA │
│ 3   │ 13    │ 0.28965   │ 13.3826 │ 5     │ GroupB │
│ 4   │ 14    │ 0.439391  │ 10.742  │ 10    │ GroupB │
│ 5   │ 15    │ 0.166789  │ 10.127  │ 11    │ GroupB │
│ 6   │ 16    │ -0.608117 │ 8.84621 │ 9     │ GroupB │
│ 7   │ 17    │ -1.57543  │ 9.73089 │ 7     │ GroupB │
│ 8   │ 18    │ -1.31724  │ 9.97798 │ 12    │ GroupB │
│ 9   │ 19    │ -1.0044   │ 11.8124 │ 6     │ GroupB │
│ 10  │ 20    │ -0.119859 │ 7.44903 │ 9     │ GroupB │
│ 11  │ 21    │ 0.250064  │ 10.5556 │ 11    │ GroupA │
│ 12  │ 22    │ 0.860593  │ 5.16572 │ 11    │ GroupA │
│ 13  │ 23    │ -0.714061 │ 9.73093 │ 13    │ GroupA │
│ 14  │ 24    │ 0.360856  │ 10.1584 │ 14    │ GroupA │
│ 15  │ 25    │ -1.1243   │ 10.2683 │ 12    │ GroupA │
│ 16  │ 26    │ 0.0415299 │ 8.59164 │ 13    │ GroupA │
│ 17  │ 27    │ -0.496601 │ 9.40441 │ 9     │ GroupA │
│ 18  │ 28    │ 1.54361   │ 7.1512  │ 7     │ GroupB │
│ 19  │ 29    │ 0.653686  │ 8.15625 │ 11    │ GroupB │
│ 20  │ 30    │ -0.416119 │ 10.9082 │ 10    │ GroupB │

In [29]:
#In a code cells below, create a DataFrame named df3 with columns named id, var4 and var5
#such that id contains the values 11 through 30, var4 contains the values 21 through 40 
#and var5 contains the values 41 through 60.
df3 = DataFrame(id = collect(11:30), var4 = collect(21:40), var5 = collect(41:60))

20×3 DataFrame
│ Row │ id    │ var4  │ var5  │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 11    │ 21    │ 41    │
│ 2   │ 12    │ 22    │ 42    │
│ 3   │ 13    │ 23    │ 43    │
│ 4   │ 14    │ 24    │ 44    │
│ 5   │ 15    │ 25    │ 45    │
│ 6   │ 16    │ 26    │ 46    │
│ 7   │ 17    │ 27    │ 47    │
│ 8   │ 18    │ 28    │ 48    │
│ 9   │ 19    │ 29    │ 49    │
│ 10  │ 20    │ 30    │ 50    │
│ 11  │ 21    │ 31    │ 51    │
│ 12  │ 22    │ 32    │ 52    │
│ 13  │ 23    │ 33    │ 53    │
│ 14  │ 24    │ 34    │ 54    │
│ 15  │ 25    │ 35    │ 55    │
│ 16  │ 26    │ 36    │ 56    │
│ 17  │ 27    │ 37    │ 57    │
│ 18  │ 28    │ 38    │ 58    │
│ 19  │ 29    │ 39    │ 59    │
│ 20  │ 30    │ 40    │ 60    │

In [30]:
#In a code cells below, do a join of DataFrames df2 and df3 on the id column and save the result as a new dataframe called df4.
df4 = join(df2, df3, on = :id)

20×7 DataFrame
│ Row │ id    │ var1      │ var2    │ var3  │ cat1   │ var4  │ var5  │
│     │ Int64 │ Float64   │ Float64 │ Int64 │ String │ Int64 │ Int64 │
├─────┼───────┼───────────┼─────────┼───────┼────────┼───────┼───────┤
│ 1   │ 11    │ -1.17801  │ 8.96203 │ 8     │ GroupA │ 21    │ 41    │
│ 2   │ 12    │ 0.377104  │ 8.5063  │ 14    │ GroupA │ 22    │ 42    │
│ 3   │ 13    │ 0.28965   │ 13.3826 │ 5     │ GroupB │ 23    │ 43    │
│ 4   │ 14    │ 0.439391  │ 10.742  │ 10    │ GroupB │ 24    │ 44    │
│ 5   │ 15    │ 0.166789  │ 10.127  │ 11    │ GroupB │ 25    │ 45    │
│ 6   │ 16    │ -0.608117 │ 8.84621 │ 9     │ GroupB │ 26    │ 46    │
│ 7   │ 17    │ -1.57543  │ 9.73089 │ 7     │ GroupB │ 27    │ 47    │
│ 8   │ 18    │ -1.31724  │ 9.97798 │ 12    │ GroupB │ 28    │ 48    │
│ 9   │ 19    │ -1.0044   │ 11.8124 │ 6     │ GroupB │ 29    │ 49    │
│ 10  │ 20    │ -0.119859 │ 7.44903 │ 9     │ GroupB │ 30    │ 50    │
│ 11  │ 21    │ 0.250064  │ 10.5556 │ 11    │ GroupA │ 31    │ 51    │
│ 12  │ 22    │ 0.860593  │ 5.16572 │ 11    │ GroupA │ 32    │ 52    │
│ 13  │ 23    │ -0.714061 │ 9.73093 │ 13    │ GroupA │ 33    │ 53    │
│ 14  │ 24    │ 0.360856  │ 10.1584 │ 14    │ GroupA │ 34    │ 54    │
│ 15  │ 25    │ -1.1243   │ 10.2683 │ 12    │ GroupA │ 35    │ 55    │
│ 16  │ 26    │ 0.0415299 │ 8.59164 │ 13    │ GroupA │ 36    │ 56    │
│ 17  │ 27    │ -0.496601 │ 9.40441 │ 9     │ GroupA │ 37    │ 57    │
│ 18  │ 28    │ 1.54361   │ 7.1512  │ 7     │ GroupB │ 38    │ 58    │
│ 19  │ 29    │ 0.653686  │ 8.15625 │ 11    │ GroupB │ 39    │ 59    │
│ 20  │ 30    │ -0.416119 │ 10.9082 │ 10    │ GroupB │ 40    │ 60    │

## note to the reviwer:
in df1; I used the name (id) instead of (ID) in order to match the column names with df3 at the join step. I know I could have used <br>
__join(df2, df3, on = :ID => :id, kind = :inner)__  <br>
but this seemed more elegant.